body{
	font: 15px/1.5 'Poppins', Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
	color: #272727;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* NAVIGATION */

header{
	min-height: 30px;
	padding: 30px;
	background: #272727;
	color: #f7f7f7;
}

header a{
	text-decoration: none;
	color: #f7f7f7;
}

header a:hover{
	font-weight: bold;
}

header ul{
	float: right;
	margin: 0;
	padding: 0 10%;
}

header li{
	display: inline;
	padding: 0 20px;
}

/* TITLE AREA */

h1{
	font: 58px 'Anton', Times, serif;
	margin: 0;
	padding-top: 100px;
	letter-spacing: 1px;
}

#title_area p{
	font-size: 24px;
	margin: 0;
	padding-bottom: 100px;
}

/* MY WORK SHORTCUTS */

.container p{
	width: 80%;
}

#my_work_shortcuts{
	padding: 20px 0;
}

#my_work_shortcuts .box{
	max-width: 40%;
	margin: 15px;
	display: inline-grid;
	border: 0px solid;
	border-radius: 10px;
	box-shadow: 5px 5px 20px rgba(39, 39, 39, 0.5);
}

.box img{
	max-width: 100%;
	border-radius: 10px 10px 0 0;
}

.text_box{
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 0 0 10px 10px;
}

h3{
	font: 24px/1.4;
	margin-top: 10px;
}

.box_footer{
	margin-top: 30px;
	height: auto;
	width: 100%;
}

.box_footer img{
	height: 38px;
	margin: auto;
	float: left;
	border-radius: 0;
}

.box_footer p{
	margin: auto;
	padding: 10px 0;
	padding-left: 10px;
	float: left;
}

.box_footer button{
	height: 38px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	float: right;
	background: #272727;
	color: #f7f7f7;
	border: none;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
}

.box_footer button:hover{
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}


/* FOOTER */

footer{
	padding: 30px;
	margin-top: 30px;
	text-align: center;
	color: #f7f7f7;
	background-color: #272727;
}

footer ul{
	padding: 0;
	list-style: none;
	margin: auto;
}

footer li{
	display: inline;
	text-decoration: none;
}

footer li img{
	width: 32px;
	padding: 0 10px;
}

footer p{
	margin-bottom: 0;
}


/* RESPONSIVITY */

@media(max-width:760px){
	nav{
		text-align: center;
	}

	header ul{
		margin: auto;
		padding: 0;
		float: none;
	}

	#my_work_shortcuts{
		display: block;
	}

	#my_work_shortcuts .box{
		max-width: 90%;
		box-shadow: 2px 2px 10px rgba(39, 39, 39, 0.5);
	}

	.box_footer{
		margin: 0;
	}

	.box_footer p{
		margin: auto 0;
	}

	.box_footer button{
		min-width: 100%;
		padding: 0;
		margin-top: 15px;
	}
}

@media(max-width:360px){
	header nav li{
		text-align: center;
		margin: 20px 0;
		display: block;
	}

	header{
		padding: 10px;
	}

	#my_work_shortcuts h3{
		font-size: 18px;
	}

	#my_work_shortcuts p{
		font-size: 12px;
	}

	footer img{
		width: 24px;
		padding: 10px;
	}

}
